﻿@model IEnumerable<AnimalShop.Models.User>
@*@model AnimalShop.Models.User*@

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
 <!-- Page wrapper  -->
<!-- ============================================================== -->
<div class="page-wrapper" ng-app="MyApp" ng-controller="MainController">
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="row page-titles">
            <div class="col-md-5 align-self-center">
                <h3 class="text-themecolor">Users</h3>
            </div>
            <div class="col-md-7 align-self-center">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                    <li class="breadcrumb-item active">Users</li>
                </ol>
            </div>

        </div>
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Sales overview chart -->
        <!-- ============================================================== -->
        <div class="row">
            <div class="col-md-12">

                <div class="card">
                    <div class="card-body">
                        <div class="row">

                            <div class="col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label>Search by name or mobile number</label>
                                    <input type="text" class="form-control" placeholder="">
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-2 col-12">
                                <div class="form-group">
                                    <label>&nbsp;</label>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-danger waves-effect btn-block waves-light">Search</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-2 col-12">
                                <div class="form-group">
                                    <label>&nbsp;</label>
                                    <div class="form-group">
                                        <select class="form-control custom-select" data-placeholder="Export As" tabindex="1">
                                            <option>Export As</option>
                                            <option value="xlsx">Excel</option>
                                            <option value="pdf">PDF</option>
                                            <option value="csv">CSV</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-2 col-12">
                                <div class="form-group">
                                    <label>&nbsp;</label>
                                    <div class="form-group">
                                        <button type="button" class="btn btn-info waves-effect btn-block waves-light" data-toggle="modal" data-target="#addeditclientmodal">Add New</button>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-lg-12 col-xlg-12 col-md-12 col-12">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th>NAME</th>
                                                <th>MOBILE NUMBER</th>
                                                <th>EMAIL</th>
                                                <th>Role</th>
                                            </tr>
                                        </thead>
                                        <tbody>
@*@foreach (var item in Model)
{*@


    <tr ng-repeat="rowContent in rows">
        @*<td><a href="">@item.FullName</a></td>
        <td><a href="">@item.MobileNumber</a></td>
        <td><a href="">@item.Email</a></td>
        <td><a href="">@item.UserRoles</a></td>*@
        <td>{{rowContent.FullName}}</td>
        <td>{{rowContent.MobileNumber}}</td>
        <td>{{rowContent.Email}}</td>
        <td>{{rowContent.UserRoles}}</td>
    </tr>

@*}*@

                                       
                                  
                                           
                                        </tbody>

                                    </table>

                                    @*<h6 class="card-subtitle">Displaying <code class="bg-light-success">1 - 25 of 3959 total clients</code></h6>

                                    <nav aria-label="Page navigation example" class="m-t-40">
                                        <ul class="pagination">
                                            <li class="page-item disabled">
                                                <a class="page-link" href="#" tabindex="-1">Previous</a>
                                            </li>
                                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                                            <li class="page-item">
                                                <a class="page-link" href="#">Next</a>
                                            </li>
                                        </ul>
                                    </nav>*@

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                @{
                    List<SelectListItem> roleList = new List<SelectListItem>();
                    roleList.Add(new SelectListItem { Text = "Super Admin", Value = "SuperAdmin" });
                    roleList.Add(new SelectListItem { Text = "Rescue", Value = "Rescue" });


                    List<SelectListItem> status = new List<SelectListItem>();
                    status.Add(new SelectListItem { Text = "ACTIVE", Value = "ACTIVE" });
                    status.Add(new SelectListItem { Text = "INACTIVE", Value = "INACTIVE" });



                    }


                <div class="modal fade none-border addeditclientmodal" id="addeditclientmodal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">
                                    Add/Edit User
                                </h4>
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            </div>
                            <div class="modal-body">
                                <div class="row" id="Usermessageshow">

                                </div>
                                <form role="form">
                                    <!-- Nav tabs -->
                                    <ul class="nav nav-tabs profile-tab">
                                        <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#s-DETAILS" role="tab">DETAILS</a> </li>
                                       
                                    </ul>
                                    <!-- Tab panes -->
                                    <div class="tab-content">
                                        <div class="tab-pane active" role="tabpanel" id="s-DETAILS">
                                            <div class="row">
                                                <div class="col-md-6 col-12">
                                                    <div class="row">
                                                        <div class="col-md-6 col-12">
                                                            <div class="form-group">
                                                                <label class="control-label">Full Name</label>
                                                                <input type="text" class="form-control" placeholder="" id="fullname">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6 col-12">
                                                            <div class="form-group">
                                                                <label class="control-label">User Role</label>
                                                              
                                                               @Html.DropDownList("UserRoles", roleList, new { id="userroles",@class="form-control"})
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6 col-12">
                                                            <div class="form-group">
                                                                <label class="control-label">Mobile Number</label>
                                                                <div class="input-group">
                                                                    <div class="input-group-btn">
                                                                        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                            <i class="flag-icon flag-icon-ae m-r-10" title="ae" id="ae"></i>
                                                                        </button>
                                                                        <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 38px, 0px); top: 0px; left: 0px; will-change: transform;">
                                                                            <a class="dropdown-item" href="#">
                                                                                <i class="flag-icon flag-icon-ae m-r-10" title="ae" id="ae"></i>
                                                                                United Arab Emirates +971
                                                                            </a>
                                                                          
                                                                        </div>
                                                                    </div>
                                                                    <input type="text" class="form-control" aria-label="" value="+971 00 123 4567" id="mobilenumber">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6 col-12">
                                                           
                                                        </div>
                                                        <div class="col-md-12 col-12">
                                                            <div class="form-group">
                                                                <label class="control-label">Email</label>
                                                                <input type="text" class="form-control" placeholder="" id="email">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6 col-12">
                                                            <div class="form-group">
                                                                <label class="control-label">User Name</label>
                                                                <input type="text" class="form-control" aria-label="" id="username">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6 col-12">
                                                            <div class="form-group">
                                                                <label class="control-label">Password</label>
                                                               
                                                                <input type="password" class="form-control" placeholder="default password" id="password">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12 col-12">
                                                            <div class="form-group">
                                                                <label class="control-label">Status</label>
                                                                @Html.DropDownList("Status", status,new { @class="form-control",id="status"})
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12 col-12">
                                                            
                                                        </div>

                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-12">
                                                    <div class="row">
                                                        <div class="col-md-12 col-12">
                                                            <div class="form-group">
                                                                <label class="control-label">Address</label>
                                                                <textarea class="form-control" rows="3" id="address"></textarea>
                                                            
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6 col-12">
                                                           
                                                        </div>
                                                       


                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                       

                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-inverse">Delete</button>
                                <button type="button" class="btn btn-danger waves-effect waves-light save-category" id="SaveUser">Save</button>
                                <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal" ng-click="addRow()">Close</button>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>

    </div>
    <!-- ============================================================== -->
    <!-- End Container fluid  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- footer -->
    <!-- ============================================================== -->
    <footer class="footer"> Design and developed by <a href="http://www.royex.ae/" target="_blank">www.royex.ae</a> </footer>
    <!-- ============================================================== -->
    <!-- End footer -->
    <!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- End Page wrapper  -->
<!-- ============================================================== -->

<script>
    $(document).ready(function () {

        $('#Usermessageshow').hide();
        $('#SaveUser').click(function () {
            var fullname = $("#fullname").val();


            var userroles = $("#userroles").val();
            var mobilenumber = $("#mobilenumber").val();
            var email = $("#email").val();

            var username = $("#username").val();
            var password = $("#password").val();
            var status = $("#status").val();
            var address = $("#address").val();
           

            $.ajax({
                type: "GET",
                url: '@Url.Action("UsersCreate", "Users")',
                contentType: "application/json; charset=utf-8",
                data: { Fullname: fullname, Userroles: userroles, Mobilenumber: mobilenumber, Email: email, Username: username, Password: password, Status: status, Address: address },
                dataType: "json",
                success: function (result) {

                    $('#Usermessageshow').show();
                    $('#Usermessageshow').html(result);

                    $("#fullname").val("");
                    $("#mobilenumber").val("");
                    $("#email").val("");
                    $("#username").val("");
                    $("#password").val("");
                    $("#address").val("");

                }
                });

                });



        $("#Close").click(function () {



        });






            });
</script>
<script>
  

    var userslist = angular.module("MyApp", []);

    userslist.controller("MainController", function ($scope, $http) {


        $http.get('/Users/UserList/').then(function (d) {
            if (d.data.length == 0) {
                $scope.rows = null;
                //document.getElementById("ServiceId").focus();
            }
            else {
                $scope.rows = d.data;
                //document.getElementById("ServiceId").focus();
            }

        }, function (error) {

        });

     

        $scope.addRow = function () {

            //$scope.rows.push('Row ' + $scope.counter);
            //$scope.counter++;

            $http.get('/Users/UserList/').then(function (d) {
                if (d.data.length == 0) {
                    $scope.rows = null;
                    //document.getElementById("ServiceId").focus();
                }
                else {
                    $scope.rows = d.data;
                    //document.getElementById("ServiceId").focus();
                }

            }, function (error) {

            });

        }
    });
  
</script>























