﻿@model AnimalShop.Models.Breed

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/admin/Views/Shared/_Layout.cshtml";
}


<div class="page-wrapper">
    <div class="card">
        <div class="card-body">
            <div>
                <label>
                    @if (ViewBag.MSG != null)
                    {
                        <h3>    @ViewBag.MSG</h3>
                    }
                </label>
            </div>


            @using (Html.BeginForm("Create", "Breed"))
            {

                @Html.AntiForgeryToken()

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-3">
                        <label>Add Breed </label>
                    </div>
                </div>



                <div class="form-group">
                    <div class="col-md-offset-2 col-md-3">
                        @Html.EditorFor(model => model.BreedType, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.BreedType, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-2">
                        <button type="submit" class="btn btn-info ">Add New</button>
                    </div>
                </div>

            }

        </div>
    </div>



</div>
