﻿@model AnimalShop.Models.Breed

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/admin/Views/Shared/_Layout.cshtml";
}

<div class="page-wrapper">


    <div class="card">
        <div class="card-body">
            <div>
                <h4>Breed</h4>
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.BreedType)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.BreedType)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.CreatedAt)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.CreatedAt)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.UpdatedAt)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.UpdatedAt)
                    </dd>

                </dl>
            </div>
            <p>
                @Html.ActionLink("Edit", "Edit", new { id = Model.BreedID }) |
                @Html.ActionLink("Back to List", "Index")
            </p>

        </div>
    </div>
</div>