﻿@model IEnumerable<AnimalShop.Models.Breed>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/admin/Views/Shared/_Layout.cshtml";
}


<div class="page-wrapper">
    <div class="card">
        <div class="card-body">
            <div class="row">

                <div class="col-md-6 col-sm-6 col-12">
                    <div class="form-group">
                        <label>Search by breed</label>
                        <input type="text" class="form-control" placeholder="">
                    </div>
                </div>
                <div class="col-md-2 col-sm-2 col-12">
                    <div class="form-group">
                        <label>&nbsp;</label>
                        <div class="form-group">
                            <button type="submit" class="btn btn-danger waves-effect btn-block waves-light">Search</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-sm-2 col-12">
                    <div class="form-group">
                        <label>&nbsp;</label>
                        <div class="form-group">
                            <select class="form-control custom-select" data-placeholder="Export As" tabindex="1">
                                <option>Export As</option>
                                <option value="xlsx">Excel</option>
                                <option value="pdf">PDF</option>
                                <option value="csv">CSV</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-sm-2 col-12">
                    <div class="form-group">
                        <label>&nbsp;</label>
                        <div class="form-group">
                            <button type="button" class="btn btn-info waves-effect btn-block waves-light" data-toggle="modal" data-target="#addeditclientmodal">@Html.ActionLink("Create New", "Create") </button>
                        </div>
                    </div>
                </div>

            </div>
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.BreedType)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CreatedAt)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.UpdatedAt)
                    </th>
                    <th>Actions</th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.BreedType)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreatedAt)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UpdatedAt)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.BreedID }) |
                            @Html.ActionLink("Details", "Details", new { id = item.BreedID }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.BreedID })
                        </td>
                    </tr>
                }

            </table>



        </div>
    </div>
</div>
