/*
Template Name: Admin pro Admin
Author: Wrappixel
Email: niravjoshi87@gmail.com
File: scss
*/
/*
Template Name: Admin Pro Admin
Author: Wrappixel
Email: niravjoshi87@gmail.com
File: scss
*/
/*Theme Colors*/
/*bootstrap Color*/
/*Light colors*/
/*Normal Color*/
/*Extra Variable*/
/*******************
 Sales overview Chart 1
*******************/
#ct-sales3-chart .ct-series-a .ct-bar {
  stroke: #10cfbd; }

#ct-sales3-chart .ct-series-b .ct-bar {
  stroke: rgba(57, 139, 247, 0.8); }

#ct-sales3-chart .ct-series-c .ct-bar {
  stroke: rgba(57, 139, 247, 0.4); }

/*******************
 Sales overview Chart 2
*******************/
#sales-overview2 .ct-point {
  stroke-width: 6px;
  stroke: #10cfbd; }

#sales-overview2 .ct-grid {
  stroke-dasharray: 0px;
  stroke: rgba(120, 130, 140, 0.13); }

#sales-overview2 .ct-area {
  fill-opacity: 0; }

#sales-overview2 .ct-line {
  stroke-width: 3px;
  stroke: #10cfbd; }

.browser td {
  vertical-align: middle;
  padding-left: 0px; }

/*******************
 Project of the month
*******************/
.pro-of-month h6 {
  font-weight: 500;
  margin-bottom: 0px; }

/*******************
 This is for responsive dashboard1 element
*******************/
@media (max-width: 1023px) {
  .r-aside {
    padding-right: 30px; }
  .right-side-panel {
    display: none; } }
