/*
Template Name: Admin pro Admin
Author: Wrappixel
Email: niravjoshi87@gmail.com
File: scss
*/
/*
Template Name: Admin Pro Admin
Author: Wrappixel
Email: niravjoshi87@gmail.com
File: scss
*/
/*Theme Colors*/
/*bootstrap Color*/
/*Light colors*/
/*Normal Color*/
/*Extra Variable*/
/*******************
Email inbox Page
******************/
.inbox-panel .list-group .list-group-item {
  border: 0px;
  border-radius: 0px;
  border-left: 3px solid transparent; }
  .inbox-panel .list-group .list-group-item a {
    color: #67757c; }
  .inbox-panel .list-group .list-group-item.active, .inbox-panel .list-group .list-group-item:hover {
    background: #e9edf2;
    border-left: 3px solid #10cfbd; }

.inbox-center .unread td {
  font-weight: 400; }

.inbox-center td {
  vertical-align: middle;
  white-space: nowrap; }

.inbox-center a {
  color: #67757c;
  padding: 2px 0 3px 0;
  overflow: hidden;
  vertical-align: middle;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block; }

.inbox-center .checkbox {
  margin-top: -13px;
  height: 20px; }
