/*
Template Name: Admin pro Admin
Author: Wrappixel
Email: niravjoshi87@gmail.com
File: scss
*/
/*
Template Name: Admin Pro Admin
Author: Wrappixel
Email: niravjoshi87@gmail.com
File: scss
*/
/*Theme Colors*/
/*bootstrap Color*/
/*Light colors*/
/*Normal Color*/
/*Extra Variable*/
/*============================================================== 
widget-chart-page product review
 ============================================================== */
.product-review {
  margin: 0px;
  padding: 25px; }
  .product-review li {
    display: block;
    padding: 20px 0;
    list-style: none; }
    .product-review li .font,
    .product-review li span {
      display: inline-block;
      margin-left: 10px; }

.social-profile {
  text-align: center;
  background: rgba(7, 10, 43, 0.8); }

.profile-tab li a.nav-link,
.customtab li a.nav-link {
  border: 0px;
  padding: 15px 20px;
  color: #67757c; }
  .profile-tab li a.nav-link.active,
  .customtab li a.nav-link.active {
    border-bottom: 2px solid #10cfbd;
    color: #10cfbd; }
  .profile-tab li a.nav-link:hover,
  .customtab li a.nav-link:hover {
    color: #10cfbd; }

/*******************/
/*widgets -app*/
/*******************/
.css-bar:after {
  z-index: 1; }

.css-bar > i {
  z-index: 10; }

ul.list-icons {
  margin: 0px;
  padding: 0px; }
  ul.list-icons li {
    list-style: none;
    line-height: 30px;
    margin: 5px 0;
    -webkit-transition: 0.2s ease-in;
    -o-transition: 0.2s ease-in;
    transition: 0.2s ease-in; }
    ul.list-icons li a {
      color: #67757c; }
      ul.list-icons li a:hover {
        color: #10cfbd; }
    ul.list-icons li i {
      padding-right: 8px; }

/*Widget charts page*/
.total-revenue4 {
  position: relative; }
  .total-revenue4 .ct-series-a .ct-line {
    stroke: #10cfbd;
    stroke-width: 1px; }
  .total-revenue4 .ct-series-a .ct-point {
    stroke: #10cfbd;
    stroke-width: 5px; }
  .total-revenue4 .ct-series-b .ct-line {
    stroke: #06d79c;
    stroke-width: 1px; }
  .total-revenue4 .ct-series-b .ct-point {
    stroke: #06d79c;
    stroke-width: 5px; }
  .total-revenue4 .ct-series-a .ct-area {
    fill: #10cfbd;
    fill-opacity: 0.2; }
  .total-revenue4 .ct-series-b .ct-area {
    fill: #06d79c;
    fill-opacity: 0.2; }
