﻿@using System.Web.UI.WebControls
@model AnimalShop.Models.Rescue

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Rescue/Views/Shared/_Layout.cshtml";
}
<div class="page-wrapper">


    <div class="card">
        <div class="card-body">


            @using (Html.BeginForm())
            {


                <div class="form-horizontal">
                    @*<h4>Rescue</h4>*@
                    @Html.AntiForgeryToken()

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-3">
                            <label>Add Rescue </label>
                        </div>
                    </div>


                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                       @* @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })*@
                        <div class="col-md-offset-2 col-md-3">
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", placeholder = "Please Provide Email" } })
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                       @* @Html.LabelFor(model => model.RescureGroupName, htmlAttributes: new { @class = "control-label col-md-2" })*@
                        <div class="col-md-offset-2 col-md-3">
                            @Html.EditorFor(model => model.RescureGroupName, new { htmlAttributes = new { @class = "form-control", placeholder = "Please Provide Rescure Group Name" } })
                            @Html.ValidationMessageFor(model => model.RescureGroupName, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @*@Html.LabelFor(model => model.ContactPerson, htmlAttributes: new { @class = "control-label col-md-2" })*@
                        <div class="col-md-offset-2 col-md-3">
                            @Html.EditorFor(model => model.ContactPerson, new { htmlAttributes = new { @class = "form-control" , placeholder = "Please Provide Contact Person Name" } })
                            @Html.ValidationMessageFor(model => model.ContactPerson, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                       @* @Html.LabelFor(model => model.ContactNumber, htmlAttributes: new { @class = "control-label col-md-2" })*@
                        <div class="col-md-offset-2 col-md-3">
                            @Html.EditorFor(model => model.ContactNumber, new { htmlAttributes = new { @class = "form-control", placeholder = "Please Provide Contact Number " } })
                            @Html.ValidationMessageFor(model => model.ContactNumber, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @*@Html.LabelFor(model => model.FacebookPageUrl, htmlAttributes: new { @class = "control-label col-md-2" })*@
                        <div class="col-md-offset-2 col-md-3">
                            @Html.EditorFor(model => model.FacebookPageUrl, new { htmlAttributes = new { @class = "form-control", placeholder = "Please Provide Facebook Link " } })
                            @Html.ValidationMessageFor(model => model.FacebookPageUrl, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                       @* @Html.LabelFor(model => model.WebsitePageUrl, htmlAttributes: new { @class = "control-label col-md-2" })*@
                        <div class="col-md-offset-2 col-md-3">
                            @Html.EditorFor(model => model.WebsitePageUrl, new { htmlAttributes = new { @class = "form-control", placeholder = "Please Provide Website Link " } })
                            @Html.ValidationMessageFor(model => model.WebsitePageUrl, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                       @* @Html.LabelFor(model => model.EmirateLocation, htmlAttributes: new { @class = "control-label col-md-2" })*@
                        <div class="col-md-offset-2 col-md-3">
                            @Html.EditorFor(model => model.EmirateLocation, new { htmlAttributes = new { @class = "form-control", placeholder = "Please Provide Emirate Location " } })
                            @Html.ValidationMessageFor(model => model.EmirateLocation, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @*@Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-2" })*@
                        <div class="col-md-offset-2 col-md-3">
                            @Html.EditorFor(model => model.Status, new { htmlAttributes = new { @class = "form-control", placeholder = "Please Provide Status " } })
                            @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                     @*   @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })*@
                        <div class="col-md-offset-2 col-md-3">
                            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", placeholder = "Please Provide Password " } })
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                       @* @Html.LabelFor(model => model.ConfirmedPassword, htmlAttributes: new { @class = "control-label col-md-2" })*@
                        <div class="col-md-offset-2 col-md-3">
                            @Html.EditorFor(model => model.ConfirmedPassword, new { htmlAttributes = new { @class = "form-control", placeholder = "Please Provide Confirmed Password " } })
                            @Html.ValidationMessageFor(model => model.ConfirmedPassword, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    @* <div class="form-group">
                            @Html.LabelFor(model => model.AuthKey, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.AuthKey, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.AuthKey, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.SocialID, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.SocialID, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.SocialID, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.SocialType, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.SocialType, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.SocialType, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.CreatedAt, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.CreatedAt, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.CreatedAt, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.UpdatedAt, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.UpdatedAt, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.UpdatedAt, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    *@
                    @*   <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Create" class="btn btn-default" />
                            </div>
                        </div>*@

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-2">
                            <button type="submit" class="btn btn-info ">Add Rescue</button>
                        </div>
                    </div>



                </div>





            }

            <div>
                @Html.ActionLink("Back to List", "Index")
            </div>


        </div>
    </div>
</div>
