﻿@model AnimalShop.Models.Rescue

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Rescue/Views/Shared/_Layout.cshtml";
}

<div class="page-wrapper">


    <div class="card">
        <div class="card-body">
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Email)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Email)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.RescureGroupName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.RescureGroupName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ContactPerson)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ContactPerson)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ContactNumber)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ContactNumber)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.FacebookPageUrl)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.FacebookPageUrl)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.WebsitePageUrl)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.WebsitePageUrl)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.EmirateLocation)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.EmirateLocation)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Status)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Status)
                </dd>


                <dt>
                    @Html.DisplayNameFor(model => model.AuthKey)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.AuthKey)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.SocialID)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.SocialID)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.SocialType)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.SocialType)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.CreatedAt)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CreatedAt)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.UpdatedAt)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.UpdatedAt)
                </dd>

            </dl>
        </div>
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.RescueID }) |
            @Html.ActionLink("Back to List", "Index")
        </p>
    </div>
</div>
           