﻿

@using AnimalShop.Models
@model IEnumerable<AnimalShop.Models.Rescue>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Rescue/Views/Shared/_Layout.cshtml";
}


<div class="page-wrapper">


    <div class="card">
        <div class="card-body">



            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                        <h3 class="text-themecolor">Rescues</h3>
                    </div>
                    <div class="col-md-7 align-self-center">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                            <li class="breadcrumb-item active">Rescues</li>
                        </ol>
                    </div>

                </div>
                <!-- ============================================================== -->
                <!-- End Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Sales overview chart -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-md-12">

                        <div class="card">
                            <div class="card-body">
                                <div class="row">

                                    <div class="col-md-6 col-sm-6 col-12">
                                        <div class="form-group">
                                            <label>Search by name or mobile number</label>
                                            <input type="text" class="form-control" placeholder="">
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-sm-2 col-12">
                                        <div class="form-group">
                                            <label>&nbsp;</label>
                                            <div class="form-group">
                                                <button type="submit" class="btn btn-danger waves-effect btn-block waves-light">Search</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-sm-2 col-12">
                                        @*<div class="form-group">
                                                <label>&nbsp;</label>
                                                <div class="form-group">
                                                    <select class="form-control custom-select" data-placeholder="Export As" tabindex="1">
                                                        <option>Export As</option>
                                                        <option value="xlsx">Excel</option>
                                                        <option value="pdf">PDF</option>
                                                        <option value="csv">CSV</option>
                                                    </select>
                                                </div>
                                            </div>*@
                                    </div>
                                    <div class="col-md-2 col-sm-2 col-12">
                                        <div class="form-group">
                                            <label>&nbsp;</label>
                                            <div class="form-group">
                                                <button type="button" class="btn btn-info waves-effect btn-block waves-light" data-toggle="modal" data-target="#addeditclientmodal">Add New</button>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="col-lg-12 col-xlg-12 col-md-12 col-12">
                                        <div class="table-responsive">
                                            <table class="table table-bordered table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>
                                                            @Html.DisplayNameFor(model => model.Email)
                                                        </th>
                                                        <th>
                                                            @Html.DisplayNameFor(model => model.RescureGroupName)
                                                        </th>
                                                        <th>
                                                            @Html.DisplayNameFor(model => model.ContactPerson)
                                                        </th>
                                                        <th>
                                                            @Html.DisplayNameFor(model => model.ContactNumber)
                                                        </th>
                                                        <th>
                                                            @Html.DisplayNameFor(model => model.FacebookPageUrl)
                                                        </th>
                                                        <th>
                                                            @Html.DisplayNameFor(model => model.WebsitePageUrl)
                                                        </th>
                                                        <th>
                                                            @Html.DisplayNameFor(model => model.EmirateLocation)
                                                        </th>
                                                        <th>
                                                            @Html.DisplayNameFor(model => model.Status)
                                                        </th>

                                                        <th>
                                                            @Html.DisplayNameFor(model => model.AuthKey)
                                                        </th>
                                                        <th>
                                                            @Html.DisplayNameFor(model => model.SocialID)
                                                        </th>
                                                        <th>
                                                            @Html.DisplayNameFor(model => model.SocialType)
                                                        </th>
                                                        <th>
                                                            @Html.DisplayNameFor(model => model.CreatedAt)
                                                        </th>
                                                        <th>
                                                            @Html.DisplayNameFor(model => model.UpdatedAt)
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var item in Model)
                                                    {
                                                        <tr>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.Email)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.RescureGroupName)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.ContactPerson)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.ContactNumber)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.FacebookPageUrl)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.WebsitePageUrl)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.EmirateLocation)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.Status)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.Password)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.ConfirmedPassword)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.AuthKey)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.SocialID)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.SocialType)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.CreatedAt)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.UpdatedAt)
                                                            </td>
                                                            <td>
                                                                @Html.ActionLink("Edit", "Edit", new { id = item.RescueID }) |
                                                                @Html.ActionLink("Details", "Details", new { id = item.RescueID }) |
                                                                @Html.ActionLink("Delete", "Delete", new { id = item.RescueID })
                                                            </td>
                                                        </tr>
                                                    }

                                                    @*<tr>
                                                            <td><a href="client-profile.html">Jhon Monro</a></td>
                                                            <td><a href="client-profile.html">+999 01245 5666</a></td>
                                                            <td><a href="client-profile.html">JhonMonro@info.net</a></td>
                                                            <td><a href="client-profile.html">Male</a></td>
                                                        </tr>
                                                        <tr>
                                                            <td><a href="client-profile.html">Jhon Monro</a></td>
                                                            <td><a href="client-profile.html">+999 01245 5666</a></td>
                                                            <td><a href="client-profile.html">JhonMonro@info.net</a></td>
                                                            <td><a href="client-profile.html">Male</a></td>
                                                        </tr>
                                                        <tr>
                                                            <td><a href="client-profile.html">Jhon Monro</a></td>
                                                            <td><a href="client-profile.html">+999 01245 5666</a></td>
                                                            <td><a href="client-profile.html">JhonMonro@info.net</a></td>
                                                            <td><a href="client-profile.html">Male</a></td>
                                                        </tr>
                                                        <tr>
                                                            <td><a href="client-profile.html">Jhon Monro</a></td>
                                                            <td><a href="client-profile.html">+999 01245 5666</a></td>
                                                            <td><a href="client-profile.html">JhonMonro@info.net</a></td>
                                                            <td><a href="client-profile.html">Male</a></td>
                                                        </tr>
                                                        <tr>
                                                            <td><a href="client-profile.html">Jhon Monro</a></td>
                                                            <td><a href="client-profile.html">+999 01245 5666</a></td>
                                                            <td><a href="client-profile.html">JhonMonro@info.net</a></td>
                                                            <td><a href="client-profile.html">Male</a></td>
                                                        </tr>
                                                        <tr>
                                                            <td><a href="client-profile.html">Jhon Monro</a></td>
                                                            <td><a href="client-profile.html">+999 01245 5666</a></td>
                                                            <td><a href="client-profile.html">JhonMonro@info.net</a></td>
                                                            <td><a href="client-profile.html">Male</a></td>
                                                        </tr>
                                                        <tr>
                                                            <td><a href="client-profile.html">Jhon Monro</a></td>
                                                            <td><a href="client-profile.html">+999 01245 5666</a></td>
                                                            <td><a href="client-profile.html">JhonMonro@info.net</a></td>
                                                            <td><a href="client-profile.html">Male</a></td>
                                                        </tr>
                                                        <tr>
                                                            <td><a href="client-profile.html">Jhon Monro</a></td>
                                                            <td><a href="client-profile.html">+999 01245 5666</a></td>
                                                            <td><a href="client-profile.html">JhonMonro@info.net</a></td>
                                                            <td><a href="client-profile.html">Male</a></td>
                                                        </tr>
                                                        <tr>
                                                            <td><a href="client-profile.html">Jhon Monro</a></td>
                                                            <td><a href="client-profile.html">+999 01245 5666</a></td>
                                                            <td><a href="client-profile.html">JhonMonro@info.net</a></td>
                                                            <td><a href="client-profile.html">Male</a></td>
                                                        </tr>
                                                        <tr>
                                                            <td><a href="client-profile.html">Jhon Monro</a></td>
                                                            <td><a href="client-profile.html">+999 01245 5666</a></td>
                                                            <td><a href="client-profile.html">JhonMonro@info.net</a></td>
                                                            <td><a href="client-profile.html">Male</a></td>
                                                        </tr>
                                                        <tr>
                                                            <td><a href="client-profile.html">Jhon Monro</a></td>
                                                            <td><a href="client-profile.html">+999 01245 5666</a></td>
                                                            <td><a href="client-profile.html">JhonMonro@info.net</a></td>
                                                            <td><a href="client-profile.html">Male</a></td>
                                                        </tr>
                                                        <tr>
                                                            <td><a href="client-profile.html">Jhon Monro</a></td>
                                                            <td><a href="client-profile.html">+999 01245 5666</a></td>
                                                            <td><a href="client-profile.html">JhonMonro@info.net</a></td>
                                                            <td><a href="client-profile.html">Male</a></td>
                                                        </tr>*@
                                                </tbody>

                                            </table>





                                            <h6 class="card-subtitle">Displaying <code class="bg-light-success">1 - 25 of 3959 total clients</code></h6>

                                            <nav aria-label="Page navigation example" class="m-t-40">
                                                <ul class="pagination">
                                                    <li class="page-item disabled">
                                                        <a class="page-link" href="#" tabindex="-1">Previous</a>
                                                    </li>
                                                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                                    <li class="page-item">
                                                        <a class="page-link" href="#">Next</a>
                                                    </li>
                                                </ul>
                                            </nav>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="modal fade none-border addeditclientmodal" id="addeditclientmodal">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title">
                                            Add/Edit Client
                                        </h4>
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    </div>
                                    <div class="modal-body">
                                        <form role="form">





                                            <div class="form-horizontal">

                                                @Html.AntiForgeryToken()

                                                <div class="form-group">
                                                    <div class="col-md-offset-2 col-md-3">
                                                        <label>Add Rescue </label>
                                                    </div>
                                                </div>


                                                <hr />

                                                <div class="form-group">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            @Html.Editor("Email", new { htmlAttributes = new { @class = "form-control", placeholder = "Please Provide Email" } })

                                                        </div>
                                                        <div class=" col-md-6">
                                                            @Html.Editor("EmirateLocation", new { htmlAttributes = new { @class = "form-control", placeholder = "Please Provide Emirate Location " } })

                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            @Html.Editor("RescureGroupName", new { htmlAttributes = new { @class = "form-control", placeholder = "Please Provide Rescure Group Name" } })

                                                        </div>

                                                        <div class=" col-md-6">
                                                            @Html.Editor("Status", new { htmlAttributes = new { @class = "form-control", placeholder = "Please Provide Status " } })

                                                        </div>
                                                    </div>
                                                </div>


                                                <div class="form-group">
                                                    <div class="row">
                                                        <div class=" col-md-6">
                                                            @Html.Editor("ContactPerson", new { htmlAttributes = new { @class = "form-control", placeholder = "Please Provide Contact Person Name" } })

                                                        </div>
                                                        <div class=" col-md-6">
                                                            @Html.Editor("ContactNumber", new { htmlAttributes = new { @class = "form-control", placeholder = "Please Provide Contact Number " } })

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                                            <div class="form-group">
                                                <div class="row">
                                                    <div class=" col-md-6">
                                                        @Html.Editor("FacebookPageUrl", new { htmlAttributes = new { @class = "form-control", placeholder = "Please Provide Facebook Link " } })

                                                    </div>
                                                    <div class=" col-md-6">
                                                        @Html.Editor("Password", new { htmlAttributes = new { @class = "form-control", placeholder = "Please Provide Password ", type = "password" } })

                                                    </div>
                                                </div>
                                            </div>



                                            <div class="form-group">
                                                <div class="row">
                                                    <div class=" col-md-6">
                                                        @Html.Editor("WebsitePageUrl", new { htmlAttributes = new { @class = "form-control", placeholder = "Please Provide Website Link " } })

                                                    </div>
                                                    <div class=" col-md-6">
                                                        @Html.Editor("ConfirmedPassword", new { htmlAttributes = new { @class = "form-control", placeholder = "Please Provide Confirmed Password ", type = "password" } })

                                                    </div>
                                                </div>
                                            </div>




                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-inverse">Delete</button>
                                        <button type="button" class="btn btn-danger waves-effect waves-light save-category" data-dismiss="modal">Save</button>
                                        <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>

            </div>




        </div>
    </div>
</div>


<script>

    $('.save-category').click(function () {
        //Email, RescureGroupName, ContactPerson, ContactNumber, FacebookPageUrl, WebsitePageUrl, EmirateLocation, Status, Password, ConfirmedPassword


        var Email = $("#Email").val();
        var RescureGroupName = $("#RescureGroupName").val();
        var ContactPerson = $("#ContactPerson").val();
        var ContactNumber = $("#ContactNumber").val();
        var FacebookPageUrl = $("#FacebookPageUrl").val();
        var WebsitePageUrl = $("#WebsitePageUrl").val();
        var EmirateLocation = $("#EmirateLocation").val();
        var Status = $("#Status").val();
        var Password = $("#Password").val();
        var ConfirmedPassword = $("#ConfirmedPassword").val();

        var UserID = $("#UserID").val();

        if (UserID == 0) {
            //alert("User Nai")
        }
        else {
            $.ajax({
                type: "GET",
                url: '@Url.Action("AddRescue", "Rescue")',
                contentType: "application/json; charset=utf-8",
                data: { email: Email, rescureGroupName: RescureGroupName, contactPerson: ContactPerson, contactNumber: ContactNumber, facebookPageUrl: FacebookPageUrl, websitePageUrl: WebsitePageUrl, emirateLocation: EmirateLocation, status: Status, password: Password, confirmedPassword: ConfirmedPassword },
                dataType: "json",
                success: function (result) {



                    $('#clientmessageshow').show();
                    $('#clientmessageshow').html(result);





                    $("#Email").val("");
                    $("#RescureGroupName").val("");
                    $("#ContactPerson").val("");
                    $("#ContactNumber").val("");
                    $("#FacebookPageUrl").val("");
                    $("#WebsitePageUrl").val("");
                    $("#EmirateLocation").val();
                    $("#Status").val();
                    $("#Password").val();
                    $("#ConfirmedPassword").val("");


                    window.location.reload();


                }
            });
        }


    });


</script>
